<link rel="stylesheet" href="css/estilos.css">
<script src="/socket.io/socket.io.js"></script>

<div class="alert alert-success p-4 container headerContainer" id="header">
    <div class="row">
        <div class="col-sm-10">
            <h2>Bienvenido</h2>
            <h2>{{nombre}}</h2>
            <b><a href="#">{{email}}</a></b>
        </div>
        <div class="col-sm-2">
            <img class="foto-login" src="{{foto}}" alt="">
            <button class="btn btn-success mt-3" onclick="location.href='/logout'" <b>Desloguear</b></button>
            </button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-3 box-ingreso-productos">
            <h2>Ingrese Producto</h2>
            <br>
            <!-- <form action="/api/productos/guardar" method="POST" autocomplete="off"> -->
            <form autocomplete="off">
                <!-- Campo nombre del producto -->
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" class="form-control" type="text" name="nombre" required>
                </div>
                <!-- Campo precio del producto -->
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input id="precio" class="form-control" type="number" step="0.01" name="precio" required>
                </div>
                <!-- Campo url de la foto del producto -->
                <div class="form-group">
                    <label for="foto">Foto URL</label>
                    <input id="foto" class="form-control" type="url" name="foto">
                </div>
                <!-- Botón de envío -->
                <button class="btn btn-primary btn-lg btn-block">Enviar</button>
            </form>
        </div>

        <div class="col-sm-12  col-md-9  box-lista-productos">
            <div class="mt-5" id="datos"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12  box-centro-mensajes">
            <h1>Centro de Mensajes (Compresión: <span id="compresion-info"></span>%)</h1>
            <br>
            <input type="text" id="username" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu email">
            <input type="text" id="firstname" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu nombre">
            <input type="text" id="lastname" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu apellido">
            <input type="text" id="age" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu edad">
            <input type="text" id="alias" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu alias">
            <input type="text" id="avatar" class="form-control w-50 my-2 mr-2" placeholder="Ingresá tu avatar (url)">
            <hr>
            <div class="chat-container" id="chat">
                <header class="chat-header">
                    <h3>Centro de Mensajes</h3>
                </header>
                <main class="chat-main">
                    <div class="chat-sidebar">
                        <h3><i class="fas fa-users"></i> Users</h3>
                        <ul id="users-list">
                        </ul>
                    </div>
                    <div id="chatroom" class="chatroom">
                        <div id="messages"></div>
                    </div>
                </main>
                <div class="chat-form-container"></div>

                <form onsubmit="addMessage(event)" autocomplete="off">
                    <div class="input-group mb-3">
                        <input disabled id="texto" type="text" class="form-control" placeholder="Ingresá un mensaje..."
                            aria-label="Recipient's username" aria-describedby="basic-addon2" autocomplete="off">
                        <div class="input-group-append">
                            <button disabled class="btn btn-danger" id="enviar" type="submit">Enviar!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="js/handlebars-v4.7.6.js"></script>
    <script src="js/main.js"></script>
    <script src="js/chat.js"></script>