body {background-color: yellowgreen;}

h1 {
    color: blue;
}

h2 {
    color: brown;
}

label {
    font-weight: bold;
    font-style: italic;
}

.header {
    /* min-height: 100vh; */
    padding-top: 32px;
    padding-bottom: 32px;
}
.box-ingreso-productos {
    background-color: rgb(226, 186, 126);
    border-radius: 5px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 10px;
}
.box-lista-productos {
    background-color: rgb(163, 144, 248);
    border-radius: 5px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 10px;
}
.box-centro-mensajes{
    background-color: rgb(208, 247, 115);
    border-radius: 5px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 10px;
}

.foto-login{
	width: 80px;
	border-radius:40px;
	margin-right:20px;
}



.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: blue;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: rgb(150, 130, 255);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chatroom {
	padding: 30px;
	height: 350px;
	overflow-y: scroll;
	
}


.chat-form-container {
	padding: 20px 30px;
	background-color: blue;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	width: 80%;
	height: 40px;
	flex: 1;
}
.

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

.chat-text-user{
	display:inline;
	font-weight: bold;
	color:blue;
}
.chat-text-date{
	display:inline;
	font-style: normal;
	color:brown;
}
.chat-text{
	display:inline;
	font-style: italic;
	color:green;
}
.img-avatar-chat{
	width: 60px;
	border-radius:30px;
	margin-right:20px;
}